*.bin
*.o
*.a
src/e9patch/e9loader_*.c
test/regtest/*.so
test/regtest/*.exe
test/regtest/*.log
test/regtest/*.out
test/regtest/*.diff
test/regtest/bugs
test/regtest/dl
test/regtest/fini
test/regtest/init
test/regtest/inst
test/regtest/patch
test/regtest/regtest
test/regtest/test
test/regtest/test.libc
test/regtest/test.pie
test/regtest/test_c
test/regtest/test_c.debug
/e9patch
/e9tool
